[Unit]
Description=Bluetooth nearby devices sniffing
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
Group=root
ExecStart= /usr/bin/stdbuf -oL /usr/src/bluetooth_sniffer/launch_bt_sniffer.sh
StandardOutput=file:/var/log/bluetooth_sniffer/bluetooth_sniffer.log

[Install]
WantedBy=multi-user.target

